.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-items {
  display: flex;
  list-style: none;
  column-gap: 20px;
  font-size: 25px;
  align-items: center;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
}

.res-card {
  background: #f0f0f0;
  padding: 10px;
}

.res-logo {
  width: 100%;
}
